[submodule "Desktop/untitled folder 7/erc-20-token-mandatory-howiegit66"]
	path = Desktop/untitled folder 7/erc-20-token-mandatory-howiegit66
	url = https://github.com/COMP0163/erc-20-token-mandatory-howiegit66
